name: build-test-query
on:
  push
jobs:
  # builds the image for your service. if successful, proceeds to test job.
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set DATE and init log file
      run: | 
        DATE=$(date -Iminutes)
        echo "$DATE" >> ./log.txt
        echo "Ori Ramon, Lucy Hass" >> ./log.txt
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build and export
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        tags: mealsvr:latest
        outputs: type=docker,dest=/tmp/image.tar
    - name: Log Error Message
      if: failure()
      run: echo "image not able to be built" >> ./log.txt
    - name: Log Success Message
      run: echo "image successfully built" >> ./log.txt
    - name: Upload log
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: log
        path: ./log.txt
        # archive-format: none
    # only executed if build successful
    - name: Upload image
      uses: actions/upload-artifact@v3
      with:
        name: mealsvr
        path: /tmp/image.tar
    
  # runs image exported from build job in container, uses pytest to test service.
  # if successful, proceeds to query job.
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      # 1. download image, run in a container
      - name: Download artifact
        uses: actions/download-artifact@v3 #download all artifacts
      - name: Load Docker image from previous job
        run: docker load --input mealsvr/image.tar
      - name: check mealsvr image is loaded
        run: docker image ls
      - name: run image in container
        run: docker run -p8000:8000 mealsvr &
      - name: check container is running
        run: docker ps
      - name: Log container status - failure
        if: failure()
        run: echo "Container failed to run" > ./log.txt
      - name: Log container status - success
        run: echo "Container up and running" > ./log.txt

      # 2. set up python, install dependencies
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Python
        uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install requests
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      # 3. run pytest tests, check results
      - name: Test with pytest
        run: |
          cd tests
          echo pytest -v tests.py
        #pytest -v tests.py > assn3_tests.txt
      - name: upload test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: pytest_results
          path: tests/assn3_test_results.txt
      - name: upload log
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: log
          path: ./log.txt
  
  # runs image in container. issue requests to service, record results in log file.
  # query:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   steps:

