name: build-test-push-v4
on:
  push
jobs:
  # builds the image for your service. if successful, proceeds to test job.
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set DATE and init log file
      run: | 
        echo "DATE=$(date -Iminutes)" >> $GITHUB_ENV
        echo "${{ env.DATE }}" >> ./log.txt
        echo "Ori Ramon, Lucy Hass" >> ./log.txt
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build and export
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        tags: mealsvr:latest
        outputs: type=docker,dest=/tmp/image.tar
    - name: Log Error Message
      if: failure()
      run: echo "image not able to be built" >> ./log.txt
    - name: Log Success Message
      run: echo "image successfully built" >> ./log.txt
    - name: Upload log
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: log
        path: ./log.txt
    # only executed if build successful
    - name: Upload image
      uses: actions/upload-artifact@v3
      with:
        name: mealsvr
        path: /tmp/image.tar
    
#   # runs image from build job in container, uses pytest to test service. if successful, proceeds to query job.
#   test:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:
#   # runs image in container. issue requests to service, record results in log file.
#   query:
#     needs: build
#     runs-on: ubuntu-latest
#     steps:

